.ingredientes-lista {
   text-align: left;
   margin: 10px;
   padding: 20px;
}

.ingredientes-lista li {
   list-style-type: none;
}

.pasos-lista {
   text-align: left;
   margin: 10px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.XD {
   margin-bottom: 10px;
   margin-top: 10px;
   padding: 8px;
   border-radius: 10px;
   background-color: #282828;
   width: max-content;
   color: #83a598;
}

.pasos-lista li {
   list-style-type: none;
   padding: 5px;
}

.receta {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}

.owo {
   display: flex;
   background-color: #fbf1c7;
   margin: 20px;
   border-radius: 10px;
   justify-content: center;
}

.receta-img {
   width: 400px;
   border-radius: 10px;
   border: 2px #282828 solid;
}

.receta {
   padding-top: 30px;
}

.recetaNombre {
   background-color: transparent;
   border: 2px #282828 solid;
   padding: 10px;
   border-radius: 10px;
}

.loading {
   height: 80vh;
}
