.navbar {
   background-color: transparent !important;
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding-top: 40px;
}

.userImage {
   background-color: #fbf1c7;
   border: 2px #282828 solid;
   color: #282828;
   display: flex;
   align-items: center;
   text-decoration: none;
   color: #282828;
   padding: 10px;
   border-radius: 40px;
   transition: 0.2s;
}

.userImage:hover {
   background-color: #282828;
   color: #fbf1c7;
}

.userImage p {
   margin-right: 20px;
}

.navbar input::placeholder {
   color: #282828;
}

.userImage img {
   border-radius: 100%;
}
