* {
   padding: 0;
   margin: 0;
   font-family: 'Mulish', sans-serif;
}

.app {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
